{% extends 'admin/model/edit.html' %}

{% block head %}
{{ super() }}

<link href="/static/edit.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="alert hidden" id="alert_field"></div>
    <h2>{{ model.name }}</h2>
    {{ super() }}
    <p>
        Environment Actions: 
        <button id="start_button">Start</button>
        <button id="stop_button">Stop</button>
        <button id="status_button">Status</button>
    </p>
    <form>
        <div class="control-group" id="pw_control_group">
            <label id="pw_error_label" class="control-label" for="inputError"></label>
            <div class="controls">
                <input id="pw" type="password" placeholder="New password"></input><BR>
                <input id="confirm_pw" type="password" placeholder="Confirm"></input><BR>
            </div>
        </div>
        <button id="reset_pw_button">Reset Admin Password<BR>
    </form>
    <input type="hidden" id="site_name" value="{{ model.name }}"></input>
{% endblock %}

{% block tail %}
<script src="/static/edit.js"></script>
{% endblock %}
