<html>
    <head>
        <link href="/static/main.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
    <form method="POST">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul class=flashes>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
        {% endwith %}
        <input name="pw" type="password" placeholder="Admin password"></input>
    </form>
    </body>
</html>
